@import '../../variables.scss';

.homeCont{
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    .middleFlex{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 66px;
        overflow-y: auto;
        overflow-x: hidden;
        h1{
            font-size: $size2;
            margin-bottom: 44px;
        }
        .searchBar{
            position: relative;
            margin: 66px 0;
            input{
                font-size: $size1;
                padding: 10px 15px;
                border: none;
                outline: none;
                border-radius: 10px;
                width: 80%;
                margin: 0 auto;
                display: block;
            }
            button{
                position: absolute;
                right: -60px;
                border: none;
                border-radius: 10px;
                outline: none;
                height: 100%;
                background-color: #ffffff99;
                width: 48px;
                top: 0;
                &:hover{
                    cursor: pointer;
                }
            }
            .credit{
                position: absolute;
                width: 100%;
                text-align: center;
                margin-top: 11px;
            }
            .autoCompleteCont{
                background-color: white;
                position: relative;
                top: 39px;
                position: absolute;
                width: 100%;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                .highlight{
                    background-color: #cccccc;
                }
                div{
                    padding: 11px;
                    &:hover{
                        cursor: pointer;
                    }
                    &:last-child{
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                }
    
            }
        }
        .recents{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            .recentCont{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #ffffff82;
                border-radius: 20px;
                padding: 22px 11px;
                min-width: 200px;
                margin: 22px;
                &:hover{
                    cursor: pointer;
                }
                .name{
                    font-weight: bold;
                    text-align: center;
                }
            }
        }

    }
    @media screen and (min-width: $widthSm){
        .middleFlex{
            .searchBar{
                input{
                    width: 350px;
                }
            }
        }
    }

}