//font styles
$raleway : 'Raleway', sans-serif;

// font sizes

$size1 : 1.5rem;
$size2 : 3rem;

//font colors

$main : white;
$subtle : #ffffff8c;

//background colors

$sunny : linear-gradient(to top right, #EE7306, #ECB324);


//screen widths

$widthSm : 400px;